@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  background: #eee0ce;
  font-family: "Roboto", "Inter", Arial, sans-serif;
}

.navbar {
  height: 80px;
  margin-right: 40px;
  align-items: center;
}

/* .navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li {
  list-style-type: none;
  transform: translate(0, -50px);
} */

.button__signup {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 20px;
}

.button__signup:hover {
  background: #dbcdbc;
}

.modal {
  background: transparent;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 500px;
  height: 400px;
}

.modal ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.modal ul li {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 40px;
  list-style-type: none;
}

.modal__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  height: 50px;
  width: 500px;
}

.modal__header button {
  transform: translate(40px, 0px);
  width: 50px;
  height: 30px;
  border: none;
  /* border-radius: 10px; */
}

.modal__header button:hover {
  background: #dbcdbc;
  transition: 0.2s ease-in-out;
}

.modal__header h1 {
  transform: translate(60px, 50px);
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 2.6rem;
}

.modal ul li input {
  width: 400px;
  height: 30px;
}

.modal ul li #submitButton {
  width: 150px;
  height: 40px;
}

.modal ul li #submitButton:hover {
  background: #dbcdbc;
  transition: 0.5s ease-in-out;
  border: none;
}

#brand__logo {
  width: 150px;
  transform: translate(-30px, -30px);
}

.header {
  height: 100vh;
}

.header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header ul li {
  list-style-type: none;
}

.header ul li:nth-child(2) {
  width: 500px;
  transform: translate(-50px, 40px);
}

.header__image__back {
  /* background: #e3d5c3; */
  background: #d8cab8;
  border-top-left-radius: 200px;  
  border-top-right-radius: 200px;
  width: 400px;
  height: 400px;
  transform: translate(0px, 200px);
}

.header__image {
  width: 400px;
  height: 500px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  overflow: hidden;
  object-fit: cover;
  transform: translate(-100px, -100px);
}

.header__taglines {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__taglines h2 {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: #b8989c;
  transform: translate(0px, 70px);
}

.header__taglines h1 {
  transform: translate(0px, 30px);
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 3.3rem;
  color: #b8989c;
  text-align: right;
  margin-left: -80px;
  text-transform: uppercase;
} 

.header__break {
  margin-right: -120px;
}

.header__taglines button {
  transform: translate(0px, 30px);
  width: 150px;
  height: 60px;
  border-radius: 30px;
  border: none;
}

.header__taglines button:hover {
    background: #dbcdbc;
    transition: 0.2s ease-in-out;
}

.brandDeals {
  height: 80vh;
  margin-right: 0px;
}

.brand__section {
  background-color: rgb(212, 240, 231);
  height: 470px;
  padding-right: 50px;
}

.brand__section ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand__section ul li {
  list-style-type: none;
}

.brand__section ul li li {
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: 500;
}

.main__product__pages {
  margin-top: 100px;
}

.main__page .carousel {
  width: 1275px;
  height: 500px;
  margin-top: 20px;
  margin-left: 30px;
}

.main__page .carousel img {
  width: 800px;
  height: 400px;
  object-fit: cover;
  margin-left: 250px;
  margin-top: 50px;
}

.pages {
  display: flex;
  padding: 0 20px;
  margin-top: 80px;
}

.sidebar {
  position: sticky;
  top: 100px; 
  left: 20px; 
  width: 250px;
  padding: 10px;
  border-right: 1px solid #ddd;
  background: #ffffff;
  height: 600px;
}

.products {
  flex: 1;
  padding: 10px;
  margin-left: 0px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product-item {
  border: 28px solid #ffffff;
  padding: 10px;
  height: 360px;
}

.product-description span {
  color: black;
}

.product-details span {
  color: #3e3a3a;
  font-size: 1rem;
  font-weight: 400;
}

.product-details__price {
  color: #000;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.product-details__price span:nth-child(2) {
  text-decoration: line-through #a59c9c;
  color: #a59c9c;
  margin-left: 5px;
}

.product-details__price span:nth-child(3) {
  color: #15582c;
  margin-left: 5px;
}

.product-item a {
  text-decoration: none;
  color: inherit;
}

.product-item a:hover {
  text-decoration: none;
  /* color: inherit; */
}


.product-item img {
  height: 250px;
}

.product-description {
  margin-top: 10px;
}

.product-details {
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.filter-section {
  margin-top: 20px;
}

.filter-section h4 {
  margin-top: 10px;
}

.filter-section div {
  margin-top: 5px;
}

.featured-section {
  margin-top: 20px;
}

.featured-section h3 {
  margin-bottom: 10px;
}

.featured-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.featured-item img {
  margin-right: 10px;
}



.product__pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__section__top {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  width: 1175px;
  height: 560px;
}

.left__section {
  display: flex;
  width: 520px;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 0px;
  position: relative;
  z-index: 1;
}

.divider {
  width: 1px;
  height: 560px;
  background-color: #b2aaaa;
  position: relative;
  z-index: 100;
  margin-right: -60px;
  transform: translateX(0px);
}



.product__images__preview {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.preview__image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
}
          
.product__images__preview__outer {
  width: 70px;
  height: 70px;
  border: 2px solid #ada9a9;
  margin-top: 40px;
}

.product__images__preview__outer img {
  width: 60px;
  height: 60px;
  margin-top: 5px;
  margin-left: 5px;
}

.product__images {
  display: flex;
  justify-content: center;
}

.main__image {
  width: 380px;
  height: 400px;
  object-fit: cover;
  margin-top: 50px;
  margin-right: 20px;
}

.main__image {
  margin-left: 20px;
}

.right__section {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  transform: translateX(45px);
}

.right__section .heading__product {
  font-size: 1.4rem;
  margin-top: 40px;
}

.right__section span:nth-child(2) {
  margin-top: 10px;
  font-weight: 500;
  color: #212020;
}

.ratings {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.ratings .star-rating {
  margin-top: 5px;
}

.ratings .rating-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10px;
}

.rating-info span {
  margin-top: 5px;
}

.rating-info  .s__divider {
  width: 1px;
  background: #b2aaaa;
  height: 20px;
  margin-left: 10px;
  margin-top: 5px;
}

.rating-info-text {
  margin-left: 10px;
  color: #000;
  font-weight: 400;
}

.price {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
}

.price span:nth-child(1) {
  font-weight: 400;
  color: #908c8c;
}

.price span:nth-child(2) {
  text-decoration: line-through;
  margin-left: 10px;
  margin-bottom: 7px;
  color: #939191;
  font-weight: 400;
}

.price span:nth-child(3) {
  margin-left: 10px;
  font-size: 1.3rem;
  font-weight: 500;
}

.price .s__divider {
  margin-left: 10px;
  width: 1px;
  height: 20px;
  background: #b2aaaa;
}

.price .discount {
  margin-left: 10px;
  color: #1d7f3f;
  font-weight: 500;
}


.shadesPalate {
  width: 450px;
  height: 90px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main__color__left {
  width: 90px;
  height: 90px;
  background: #e3aaaa;
}

.preview__colors__right {
  border: #a5a2a2 0.1rem solid;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  gap: 10px;
  margin-left: 40px;
  padding: 10px;
}

.preview__colors__boxes {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.purchase {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
  width: 400px;
}

.add-to-cart {
  background-color: #e80071;
  width: 200px;
  height: 35px;
  margin-top: 20px;
}

.add-to-cart span {
  color: #ffffff;
  font-size: 1.1rem;
  margin-left: 35px;
}

.divider--purchase {
  width: 1px;
  height: 110px;
  background-color: #b2aaaa;
  margin-left: 30px;
}

.delivery {
  margin-top: 10px;
}

.footer--right--section {
  width: 615px;
  height: 51px;
  display: flex;
  flex-direction: row;
   justify-content: space-between;
   align-items: center;
   background: #ebecee;
   transform: translateX(-35px);
   padding: 0px 20px;
}